.main-page {
	display: grid;
	grid-template-columns: [calendar-start] 80% [calendar-end room-start] 20% [room-end];
}

.calendar-wrapper {
	grid-column: calendar-start / calendar-end;
	height: 100vh;
}

.calendar-wrapper__calendar {
	height: 100%;
}

.room-wrapper {
	grid-column: room-start / room-end;
	height: 100vh;
	overflow-y: auto;
}
